<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="UiAutomationDemoSuite">
<listeners>
<listener class-name="com.test.itest.DemoApplication"></listener>
</listeners>
  <test thread-count="6" name="Test">
    <classes>
      <class name="com.main.base.TestBase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
